@use "../../styles/block-mixins" as blocks;
@use "../../styles/text-mixins" as texts;
@use "../../styles/consts" as consts;

#root {
    max-width: 100vw;
    width: 100%;
    max-width: 2000px;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    text-align: center;
    flex: 1;
}
.app {

    @include blocks.flex_column($align: center, $justify: start);
    width: 100%;
    height: 100%;
    .main{
        @include blocks.flex_row($align: start, $justify: center, $gap: 24px);
        width: 100%;
        height: 100%;
        margin: 28px auto;
        .content{
            width: 57%;
            height: 100%;
        }
    }
}