@use "../../styles/block-mixins" as blocks;
@use "../../styles/text-mixins" as texts;
@use "../../styles/consts" as consts;

.custom-button {
    @include texts.button-text();
    background-color: consts.$accent-primary;
    border-radius: 10px;
    transition: consts.$transition-opacity;
    padding: 10px;
    border: consts.$default-border; 
    
    &.image-button {
        background-image: var(--button-image);
        width: var(--button-width, 40px); 
        height: var(--button-height, var(--button-width, 40px));
        background-repeat: no-repeat;
        background-size: var(--icon-width, cover); 
        background-position: center;
        background-color: transparent;
        border: none;
        padding: 4px; 
        
        .button-icon {
            width: var(--icon-width, 16px);
            height: var(--icon-width, 16px);
            object-fit: contain;
        }
    }
    
    &.thin {
        border: consts.$default-border;
    }
    
    &.custom-size {
        width: var(--button-width, auto);
        height: var(--button-height, auto);
    }
    
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        
        &:hover {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    
    &:hover:not(:disabled) {
        opacity: 0.6;
        cursor: pointer;
    }
}